header{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;    
    background-color: black;
}

#listaexcer{
    font-size: 27px;
    background-color: rgb(226, 159, 43);
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
}
