body{
    background-color:rgb(119, 189, 181);
}

h1{
    text-align: center;
    color: blue;
    font-family:monospace;
    font-size: 40px;
}

h1:hover{
    color: brown;
}

h2{
    text-align: center;
    color: blue;
    font-family:monospace;
    font-size: 40px;
}

h2:hover{
    color: brown;
}

button{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    
}

button:hover{
    color: rgb(255, 0, 0);
}

label{
    font-size: 20px;
    font-family: monospace;
}

p{
    font-size: 20px;
    font-family: monospace;
    text-decoration: double;  
}